html {
  min-width: 800px;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "SpecialElite";
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.1m;
}

h2 {
  font-family: "DosisLight";
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 1.8em;
}

p {
  font-family: "ArbutusSlabRegular";
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-indent: 2.4em;
}

blockquote {
  font-family: "AveriaSansLibreItalic";
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 4.5em 1.5em 4.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-family: "AveriaSansLibreItalic";
  display: inline;
  clear: both;
  font-size: 1.1em;
}

blockquote h3 {
  font-family: "AveriaSansLibreBold";
  display: block;
  clear: both;
  text-align: right;
  margin-right: 1.0em;
  margin-bottom: 0.4em;
}

.codeblock {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  height: 300px;
}

.CodeMirror {
  height: 300px;
}

.grid-two {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.grid-two .col-one {
  width: 50%;
  display: inline;
  float: left;
}

.grid-two .col-one img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grid-two .col-two {
  width: 50%;
  display: inline;
  float: right;
}

.grid-two .col-two img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #0651A1;
}
a:active {
  color: #0651A1;
}
a:visited {
  color: #0651A1;
}
a:hover {
  color: #0651A1;
}
